<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PermaHosting</title>
</head>
<body>
    <script>location.href = 'https://arweave.net/rS8qkWEf11TDvCGRVBEVdn9-x8CGNzkwZvrME7rFFYw/'</script>
</body>
</html>